<ng-container  *ngFor="let row of grid.getRows()">
  <tr (click)="userSelectRow.emit(row)" (mouseover)="rowHover.emit(row)" class="angular2-smart-row" [className]="rowClassFunction(row)" [ngClass]="{selected: row.isSelected}">
    <td *ngIf="isMultiSelectVisible" class="angular2-smart-actions angular2-smart-action-multiple-select" (click)="multipleSelectRow.emit(row)">
      <input type="checkbox" class="form-check-input" [ngModel]="row.isSelected">
    </td>
    <td *ngIf="!row.isInEditing && showActionColumnLeft" class="angular2-smart-actions">

      <angular2-st-tbody-custom 
        [grid]="grid" 
        (custom)="custom.emit($event)" 
        [row]="row" 
        [source]="source">
      </angular2-st-tbody-custom>
      
      <angular2-st-tbody-expand 
          *ngIf="hasChildComponent"
          [grid]="grid" 
          [row]="row" 
          (onExpandRow)="onExpandRow.emit(row)">
      </angular2-st-tbody-expand>

      <angular2-st-tbody-edit-delete [grid]="grid"
                                [deleteConfirm]="deleteConfirm"
                                [editConfirm]="editConfirm"
                                (edit)="edit.emit(row)"
                                (delete)="delete.emit(row)"
                                (editRowSelect)="editRowSelect.emit($event)"
                                [row]="row"
                                [source]="source">
      </angular2-st-tbody-edit-delete>
    </td>
    <td *ngIf="row.isInEditing && showActionColumnLeft"  class="angular2-smart-actions">
      <angular2-st-tbody-create-cancel [grid]="grid" [row]="row" [editConfirm]="editConfirm"></angular2-st-tbody-create-cancel>
    </td>
    <td *ngFor="let cell of getVisibleCells(row.cells)">
      <angular2-smart-table-cell [cell]="cell"
                            [grid]="grid"
                            [row]="row"
                            [isNew]="false"
                            [mode]="mode"
                            [editConfirm]="editConfirm"
                            [inputClass]="editInputClass"
                            [isInEditing]="row.isInEditing">
      </angular2-smart-table-cell>
    </td>

    <td *ngIf="row.isInEditing && showActionColumnRight"  class="angular2-smart-actions">
      <angular2-st-tbody-create-cancel [grid]="grid" [row]="row" [editConfirm]="editConfirm"></angular2-st-tbody-create-cancel>
    </td>

    <td *ngIf="!row.isInEditing && showActionColumnRight" class="angular2-smart-actions">
      <angular2-st-tbody-custom [grid]="grid" (custom)="custom.emit($event)" [row]="row" [source]="source"></angular2-st-tbody-custom>

      <angular2-st-tbody-expand 
          *ngIf="hasChildComponent"
          [grid]="grid" 
          [row]="row" 
          (onExpandRow)="onExpandRow.emit(row)">
      </angular2-st-tbody-expand>
      
      <angular2-st-tbody-edit-delete [grid]="grid"
                                [deleteConfirm]="deleteConfirm"
                                [editConfirm]="editConfirm"
                                [row]="row"
                                [source]="source"
                                (edit)="edit.emit(row)"
                                (delete)="delete.emit(row)"
                                (editRowSelect)="editRowSelect.emit($event)">
      </angular2-st-tbody-edit-delete>
    </td>
  </tr>
  <tr class="angular2-smart-row angular2-smart-row-detail" *ngIf="row.isExpanded">
    <td [attr.colspan]="tableColumnsCount" class="angular2-smart-column-expandedDetail">
      <ng-template #expandedRowChild ></ng-template>
    </td>
  </tr>
</ng-container>
<tr *ngIf="grid.getRows().length == 0">
  <td [attr.colspan]="tableColumnsCount">
    {{ noDataMessage }}
  </td>
</tr>
